.project .module1 {
	@import "../core/variables.scss";
	@import "variables.scss";

	& > div.main{
		background-color: $toto;
		background-image: url('images/img1.jpg');
		background-size: cover;
		height:200px;

		.head{
			color:$tata;
		}
	}


}
